a:hover {
    /* hover - só funciona quando passa o mouse */
    text-decoration: none;
}

.bg-roxo {
    background-color: #7E459B;
}

nav a:hover {
    font-weight: 500;
}

.imagem-carrosel {
    object-fit: cover;
    /* tira o achatado da imagem */
    object-position: 0 40%;
    /* altera a posição no eixo x e y */
    height: 65vh;
}

.redes-sociais span {
    color: black;
}

.redes-sociais i {
    /* chamei o ícone (i) */
    color:  #7E459B;
    font-size: 1.2rem;  
}

.redes-sociais span:hover {
    color: #7E459B;
}
